!!!

/ HTML

<! DOCTYPE html>

#content
  .entry.feature
    %h3.title Haml
    %p.body Lorem Ipsum

/ HTML

<div id='content'>
  <div class='entry featured'>
    <h3 class='title'>Haml</h3>
    <p class='body'>Lorem Ipsum...</p>
  </div>
</div>

/ long-hand attributes to chain classes

%article.featured{ class: @article.visibility } ...

<article class='feature visible'>...</article>

/  public comments and private comments

/  This is public comment
%h1 Comments

/ HTML
<!-- This is public comment -->
<h1>Comments</h1>

-# This is private comment
%h1 Comments

/ HTML
<h1>Comments</h1>

/ Evaluating Ruby Code

%p= %w(foo bar).join(' ')

/ HTML

<p>foo bar</p>

- if flash.notice
  .notice= flash.notice

/ Lines of Ruby code can be broken up over multiple lines
/ as long as each but the last line ends with a comma ,

= image_tag post.mage_url,
  class: 'featured-image'

  / Interpolation

  %p By: #{post.author_name}
  %p= "By: #{post.author_name}"

  / Object Reference

  / [] is similar to div_for and content_tag_for
  %li[@post]
    %h4= @post.title
    = @post.excerpt

  / HTML

  <li class='post' id='post_1'>...</li>


